[submodule "depends/cppkafka"]
	path = depends/cppkafka
	url = git@github.com:mfontanini/cppkafka.git
[submodule "depends/googletest"]
	path = depends/googletest
	url = https://github.com/google/googletest.git
